<section class="bg-[#b02020] px-4">
    <div class="grid max-w-screen-2xl mx-auto py-8 lg:grid-cols-12 text-center lg:text-justify">
        <div class="lg:col-span-7 px-4 lg:px-0 flex flex-col items-center justify-center h-auto lg:items-start">
            <h1 class="max-w-xl mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl text-white">
                Wisata Desa
            </h1>
            <hr class="border-t-4 border-blue-600 w-3/5">
            <p class="max-w-xl py-4 font-light text-white md:text-lg lg:text-xl">
                Lorem ipsum dolor sit amet, consectetuer Lorem ipsum dolor sit amet, 
                consectetuer Lorem ipsum dolor sit amet, consectetuer Lorem ipsum 
                dolor sit amet, consectetuer Lorem ipsum dolor sit amet, consectetuer
            </p>
        </div>

        <div class="lg:col-span-5 px-4 lg:px-0 flex justify-center lg:justify-start mt-8 lg:mt-0">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7931.028050845519!2d106.56796405644083!3d-6.3273708825458295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69e2c2ac869bfd%3A0x3fa2c1ad83f44f80!2sCirarab%2C%20Legok%2C%20Tangerang%20Regency%2C%20Banten!5e0!3m2!1sen!2sid!4v1719936958135!5m2!1sen!2sid" 
                class="aspect-video w-full"
                width="600"
                height="400"
                frameborder="0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</section>
