<div class="container mx-auto p-4 text-center pt-12 hidden 2xl:block">
    <div class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-4 gap-2">
      <div class="justify-center p-4 max-h-[640px]">
        <h1 class="text-3xl text-center py-2 text-red-600 font-bold">Title Example</h1>
        <hr class="border-t-4 border-blue-600 w-full mx-auto w-2/3">
        <p class="text-lg text-justify pt-4">
            Lorem ipsum dolor sit amet, con-
            sectetuer Lorem ipsum dolor sit
            amet, consectetuer Lorem ipsum
            dolor sit amet, consectetuer
            Lorem ipsum dolor sit amet, con-
            sectetuer Lorem ipsum dolor sit
            amet, consectetuer sectetuer 
            Lorem ipsum dolor sit amet,
            Lorem ipsum dolor sit amet,
        </p>
      </div>
      <div class="justify-center max-h-[640px]">
        <img src="https://placehold.co/640x640/242424/FFFFFF.png" alt="" class="mx-auto">
      </div>
      <div class="justify-center p-4 max-h-[640px]">
        <h1 class="text-3xl text-center py-2 text-red-600 font-bold">Title Example</h1>
        <hr class="border-t-4 border-blue-600 w-full mx-auto w-2/3">
        <p class="text-lg text-justify pt-4">
            Lorem ipsum dolor sit amet, con-
            sectetuer Lorem ipsum dolor sit
            amet, consectetuer Lorem ipsum
            dolor sit amet, consectetuer
            Lorem ipsum dolor sit amet, con-
            sectetuer Lorem ipsum dolor sit
            amet, consectetuer sectetuer 
            Lorem ipsum dolor sit amet,
            Lorem ipsum dolor sit amet,
        </p>
      </div>
      <div class="justify-center max-h-[640px]">
        <img src="https://placehold.co/640x640/242424/FFFFFF.png" alt="" class="mx-auto">
      </div>
    </div>
</div>
<div class="container mx-auto p-4 text-center pt-12 pb-2 block 2xl:hidden">
  <div class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-4 gap-2">
    <div class="justify-center max-h-[640px]">
      <img src="https://placehold.co/640x640/242424/FFFFFF.png" alt="" class="mx-auto">
    </div>
    <div class="justify-center max-h-[640px]">
      <h1 class="text-3xl text-center py-2 text-red-600 font-bold">Title Example</h1>
      <hr class="border-t-4 border-blue-600 w-full mx-auto w-2/3">
      <p class="text-lg text-justify pt-4">
          Lorem ipsum dolor sit amet, con-
          sectetuer Lorem ipsum dolor sit
          amet, consectetuer Lorem ipsum
          dolor sit amet, consectetuer
          Lorem ipsum dolor sit amet, con-
          sectetuer Lorem ipsum dolor sit
          amet, consectetuer sectetuer 
          Lorem ipsum dolor sit amet,
          Lorem ipsum dolor sit amet,
      </p>
    </div>
    <div class="justify-center max-h-[640px]">
      <img src="https://placehold.co/640x640/242424/FFFFFF.png" alt="" class="mx-auto">
    </div>
    <div class="justify-center px-4 max-h-[640px]">
      <h1 class="text-3xl text-center py-2 text-red-600 font-bold">Title Example</h1>
      <hr class="border-t-4 border-blue-600 w-full mx-auto w-2/3">
      <p class="text-lg text-justify pt-4">
          Lorem ipsum dolor sit amet, con-
          sectetuer Lorem ipsum dolor sit
          amet, consectetuer Lorem ipsum
          dolor sit amet, consectetuer
          Lorem ipsum dolor sit amet, con-
          sectetuer Lorem ipsum dolor sit
          amet, consectetuer sectetuer 
          Lorem ipsum dolor sit amet,
          Lorem ipsum dolor sit amet,
      </p>
    </div>
  </div>
</div>
<div class="container mx-auto p-4 text-center pb-12">
    <div class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-4 gap-2">
      <div class="justify-center max-h-[640px]">
        <img src="https://placehold.co/640x640/242424/FFFFFF.png" alt="" class="mx-auto">
      </div>
      <div class="justify-center p-4 max-h-[640px]">
        <h1 class="text-3xl text-center py-2 text-red-600 font-bold">Title Example</h1>
        <hr class="border-t-4 border-blue-600 w-full mx-auto w-2/3">
        <p class="text-lg text-justify pt-4">
            Lorem ipsum dolor sit amet, con-
            sectetuer Lorem ipsum dolor sit
            amet, consectetuer Lorem ipsum
            dolor sit amet, consectetuer
            Lorem ipsum dolor sit amet, con-
            sectetuer Lorem ipsum dolor sit
            amet, consectetuer sectetuer 
            Lorem ipsum dolor sit amet,
            Lorem ipsum dolor sit amet,
        </p>
      </div>
      <div class="justify-center max-h-[640px]">
        <img src="https://placehold.co/640x640/242424/FFFFFF.png" alt="" class="mx-auto">
      </div>
      <div class="justify-center p-4 max-h-[640px]">
        <h1 class="text-3xl text-center py-2 text-red-600 font-bold">Title Example</h1>
        <hr class="border-t-4 border-blue-600 w-full mx-auto w-2/3">
        <p class="text-lg text-justify pt-4">
            Lorem ipsum dolor sit amet, con-
            sectetuer Lorem ipsum dolor sit
            amet, consectetuer Lorem ipsum
            dolor sit amet, consectetuer
            Lorem ipsum dolor sit amet, con-
            sectetuer Lorem ipsum dolor sit
            amet, consectetuer sectetuer 
            Lorem ipsum dolor sit amet,
            Lorem ipsum dolor sit amet,
        </p>
      </div>
    </div>
</div>