<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<section class="relative bg-[#b02020] p-4 text-white lg:py-16">
  <div class="container mx-auto">
    <div class="flex flex-wrap text-left lg:text-left">
      <div class="w-full lg:w-6/12">
        <h4 class="text-3xl font-semibold">Lorem Ipsum</h4>
        <h5 class="text-lg pt-4 font-light">
            Lorem ipsum dolor sit amet, consectetuer Lorem ipsum dolor sit amet.
        </h5>
        <div class="py-8">
            <a href="#" class="pr-4"><i class="fa-brands fa-whatsapp fa-xl"></i></a>
            <a href="#" class="pr-4"><i class="fa-regular fa-envelope fa-xl"></i></a>
            <a href="#" class="pr-4"><i class="fa-brands fa-facebook-f fa-xl"></i></a>
            <a href="#" class="pr-4"><i class="fa-brands fa-instagram fa-xl"></i></a>
        </div>
      </div>
      <div class="w-full lg:w-6/12">
        <div class="flex flex-wrap items-top">
          <div class="w-full lg:w-4/12 ml-auto">
            <span class="block uppercase text-blueGray-500 text-xl font-semibold mb-4">Tentang Kami</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-light block pb-4 text-md" href="#">Berita</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-light block pb-4 text-md" href="#">Galeri</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-light block pb-4 text-md" href="#">Hubungi Kami</a>
              </li>
            </ul>
          </div>
          <div class="w-full lg:w-4/12">
            <span class="block uppercase text-blueGray-500 text-xl font-semibold mb-4">Informasi</span>
            <ul class="list-unstyled">
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-light block pb-4 text-md" href="#">UMKM</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-light block pb-4 text-md" href="#">FAQ</a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-light block pb-4 text-md" href="#">Liputan</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-blue-600 p-4">
    <div class="grid max-w-screen-2xl mx-auto">
        <div class="mr-auto place-self-center lg:col-span-7">
            <p class="max-w-2xl font-light text-white md:text-md">
                Desa Cirarab Reserved 2024
            </p>
        </div>
    </div>
</section>