<link href="./styles/carousel.css" rel="stylesheet">

<div class="carousel">
    <div class="carousel-inner max-h-[960px] w-screen">
        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked" data-carousel-id="1">
        <div class="carousel-item">
            <img src="https://placehold.co/1920x1080/242424/FFFFFF.png" class="w-full h-auto object-cover">
        </div>

        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="" data-carousel-id="2">
        <div class="carousel-item">
            <img src="https://placehold.co/1920x1080/008888/FFFFFF.png" class="w-full h-auto object-cover">
        </div>

        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="" data-carousel-id="3">
        <div class="carousel-item">
            <img src="https://placehold.co/1920x1080/888800/FFFFFF.png" class="w-full h-auto object-cover">
        </div>

        <input class="carousel-open" type="radio" id="carousel-4" name="carousel" aria-hidden="true" hidden="" data-carousel-id="4">
        <div class="carousel-item">
            <img src="https://placehold.co/1920x1080/FF8800/FFFFFF.png" class="w-full h-auto object-cover">
        </div>

        <label for="carousel-1" class="carousel-control next control-4">›</label>
        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
        <label for="carousel-2" class="carousel-control next control-1">›</label>
        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
        <label for="carousel-3" class="carousel-control next control-2">›</label>
        <label for="carousel-3" class="carousel-control prev control-4">‹</label>
        <label for="carousel-4" class="carousel-control next control-3">›</label>
        <label for="carousel-4" class="carousel-control prev control-1">‹</label>
        <ol class="carousel-indicators">
            <li>
                <label for="carousel-1" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-2" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-3" class="carousel-bullet">•</label>
            </li>
            <li>
                <label for="carousel-4" class="carousel-bullet">•</label>
            </li>
        </ol>
    </div>
</div>