<link href="./styles/navbar.css" rel="stylesheet" >

<nav class="fixed w-full z-20 top-0 left-0 shadow-md bg-[#b02020] text-white">
    <ul class="navigation flex flex-wrap items-center relative mx-auto py-2 justify-between lg:justify-center">
      <a class="logo" href="#">
        <img src="./images/logo.png" alt="logo cirarab" class="h-8 xl:h-24 w-auto">
      </a>
      <input type="checkbox" id="check"/> 
  
      <span class="menu flex [&>li]:px-8 [&>li>a]:text-center [&>li>a]:relative [&>li>a]:transition [&>li>a]:duration-200 [&>li>a]:ease-in-out [&>li>a]:font-medium [&>li>a]:text-2xl">
        <li><a href="#">TENTANG KAMI</a></li>
        <li><a href="#">BERITA</a></li>
        <li><a href="#">GALERI</a></li>
        <li><a href="#">HUBUNGI KAMI</a></li>
  
        <label for="check" class="close-menu">𓏴</label>
      </span>
  
      <label for="check" class="open-menu invert"><box-icon name='menu'></box-icon></label>
    </ul>
</nav>